<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Nuevo Proyecto Git</title>
</head>
<body>
    <!-- template de la pagina principal -->
    <h1>Proyecto GIT</h1>
    <section class="container-form-login">
        <h3 class="titulo-login">Iniciar Sesion</h3>
        <form action="" method="post">
            <fieldset class="field-form-login">
                <label for="" class="label-login">Usuario</label>
                <input type="text" name="nombreUsuario" id="" required class="input-login">
            </fieldset>
            <fieldset class="field-form-login">
                <label for="" class="label-login">Correo</label>
                <input type="text" name="nombreUsuario" id="" required class="input-login">
            </fieldset>
            <fieldset class="field-form-login">
                <label for="" class="label-login">Contrasenia</label>
                <input type="text" name="nombreUsuario" id="" required class="input-login">
            </fieldset>
            <input type="submit" value="Enviar" class="btn-enviar">
        </form>
    </section>
</body>
</html>